
@{
    ViewData["Title"] = "ContactFormSuccess";
}

<!-- Odpowiedź na wysłany formularz kontaktowy -->

<br />
<br />
<div class="text-center">
    <!-- ViewBag przechowuje zmienne tymczasowo --->
    <h2>Witaj @ViewBag.Username !</h2>
    <h4>Na @ViewBag.Email wysłano link potwierdzający.</h4>
    <img height="250" width="300" src="~/Content/Images/email.png" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="footer">
    Autor strony: Mateusz Bartkowiak &copy; 2020
</div>

