
@{
    ViewData["Title"] = "EmptyTrolley";
}

<!-- Pusty koszyk/gdy nic nie kupimy --->

<div class="text-center empty-trolley">
    <img src="~/Content/Images/trolley.webp" height="200" width="300" class="text-center" />
    <h2>Koszyk jest pusty!</h2>
</div>

<div class="footer">
    Autor strony: Mateusz Bartkowiak &copy; 2020
</div>