
@{
    ViewData["Title"] = "NewsLetterSuccess";
}

<!-- Odpowiedź na wypełniony folmularz Newsletter -->

<br />
<br />
<div class="text-center">
    <h2>Witaj @ViewBag.Username !</h2>
    <h4>Od dzisiaj na @ViewBag.Email będziesz otrzymywał najnowsze informacje dotyczące serwisu.</h4>
    <img height="250" width="300" src="~/Content/Images/discountsuccess.png" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="footer">
    Autor strony: Mateusz Bartkowiak &copy; 2020
</div>

