
@{
    ViewData["Title"] = "OpinionSuccess";
}

<!-- Odpwoiedź na formularz z opinią -->

<div class="text-center">
    <br />
    <br />
    <img height="200" width="300" src="~/Content/Images/social.png" />
    <br />
    <h2>Dziękujemuy za opinię @TempData["login"]!</h2>
    <br />
</div>


<br />
<br />
<br />
<br />
<div class="footer">
    Autor strony: Mateusz Bartkowiak &copy; 2020
</div>

